<!DOCTYPE html>
<html>
<head>
  <title>TabulaRasa</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="tabulaApp">
<a ui-sref="home">Home |</a>
<a ui-sref="about">About |</a>
<a ui-sref="lists">See All Lists |</a>
<a ui-sref="newlist">Create a New List</a>
<%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<%= yield %>

</body>
</html>
