<!DOCTYPE html>
<html>
<head>
  <title>TabulaRasa</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<!--<header><link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico"></header> -->
<body ng-app="tabulaApp">
<div class="text-right">
<button type="button" class="btn btn-default login-button">
<% if current_user %> <!-- login button -->
  <%= "Logged in as " + current_user.name + ' | ' %><%= link_to 'Logout', logout_path %>

  <% else %>
  <%= link_to 'Login', signup_login_path %> | <%= link_to 'Sign Up', signup_login_path %>
  <% end %>
  </button>
 </div><br>


<%= yield %>

</body>
</html>
